:root {
  /* Color */
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --h-text-color: #2e2f42;
  --primary-text-color: #434455;
  --accent-color: #e7e9fc;
  --light-backgrounds-color: #f4f4fd;
  --main-basic-color: #ffffff;
  /* Font */
  --primary-font: Roboto;
  --logo-font: Raleway;
  --family-font: sans-serif;
  --bold-font: 700;
  --med-font: 500;
  --h1-font-size: 56px;
  --h2-font-size: 36px;
  --h3-font-size: 20px;
  --small-font-size: 12px;
  --h1-line-height: 1.07;
  --h2-line-height: 1.11;
  --h3-line-height: 1.2;
  --primary-line-height: 1.5;
  --small-line-height: 1.16;
  --primary-letter-spacing: 0.02em;
  --small-btn-letter-spacing: 0.04em;
}

/* GENERAL */

body {
  color: var(--primary-text-color);
  background-color: var(--main-basic-color);

  font-family: var(--primary-font), var(--family-font);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

/* Можливо в класі .link правильніше вказати color:inherit? Щоб потім окремо не прописувати. Це стосується, наприклад, розділу Портфолію на сторінці Портфоліо - я там окремо вказувала колір для p.
Також я додала .link font-style: normal, щоб перебити курсив чи можливо краще присвоїти це тільки для тегу adress?*/
.link,
.active-link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

/* Headings */
.h1 {
  font-weight: var(--bold-font);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}

.h2 {
  color: var(--h-text-color);

  font-weight: var(--bold-font);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  text-align: center;
}

.h3 {
  color: var(--h-text-color);

  font-weight: var(--med-font);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.btn {
  font-family: inherit;
  font-weight: var(--med-font);
  font-size: inherit;
  line-height: inherit;
  letter-spacing: var(--small-btn-letter-spacing);
}

.btn.primary {
  background-color: var(--primary-brand-color);
  color: var(--main-basic-color);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn.primary:hover,
.btn.primary:focus {
  background-color: var(--pressed-state-color);
}

.btn.secondary {
  background-color: var(--light-backgrounds-color);
  color: var(--primary-brand-color);
}

.btn.secondary:hover,
.btn.secondary:focus {
  background-color: var(--pressed-state-color);
  color: var(--main-basic-color);
}

/* General Logo styles */

.logo {
  font-family: var(--logo-font), var(--family-font);
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-logo-part {
  color: var(--primary-brand-color);
}

/* HEADER */

/* Navigation */

/* Logo */

.header-logo {
  color: var(--h-text-color);
  line-height: 1.33;
}

/* Sections */

.nav-sections .link,
.nav-sections .active-link {
  color: var(--h-text-color);

  font-weight: var(--med-font);
}

.nav-sections .link:hover,
.nav-sections .link:focus {
  color: var(--pressed-state-color);
}

.nav-sections .active-link {
  color: var(--primary-brand-color);
}

/* Contacts */

.nav-contacts-mailto,
.nav-contacts-tel {
  color: var(--primary-text-color);
}

/* Не впевнена, що потрібно було розділяти на класи телефон і емейл, але на всякий випадок зробила :) */
.nav-contacts-mailto:hover,
.nav-contacts-mailto:focus,
.nav-contacts-tel:hover,
.nav-contacts-tel:focus {
  color: var(--pressed-state-color);
}

/* PAGE STUDIO*/

/* Hero */

.hero {
  background-color: var(--h-text-color);
  color: var(--main-basic-color);

  text-align: center;
}

/* Our Features */

/* Our Flow */

/* Our Team */

.team {
  background-color: var(--light-backgrounds-color);
}

.team-card-content {
  background-color: var(--main-basic-color);
}

/* PAGE PORTFOLIO*/

/* Our Portrolio */

/* Filters */

.portfolio-filter {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

/* Portfolio */

.portfolio p {
  color: var(--primary-text-color);
}

/* FOOTER */

.footer {
  background-color: var(--h-text-color);
}

/* Logo */

.footer-logo {
  color: var(--light-backgrounds-color);

  line-height: 1.17;
}

.footer-text {
  color: var(--accent-color);
}
